*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

body{
  background-color: #FAFAFA;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tittle{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0px;
}

.reliable{
  font-size: 30px;
}
.powered{
  font-size: 30px;

}